@using org.Common;
@using org.Model;
@{
    Page.Title = "成员列表";
    Page.Description = "成员列表";
    string Pager = ViewBag.pager;
    List<User> items = ViewBag.items;
    LoginUser UserInfo = ViewBag.UserInfo;
}

<div class="article">
    <div class="ui masthead vertical segment">
        <div class="ui container">
            <div class="introduction">
                <h2 class="ui header">
                    @Page.Title
                    <div class="sub header">@Page.Description</div>
                </h2>
            </div>
        </div>
    </div>
    <div class="main container">
        <div class="ui active tab" data-tab="overview">
            <form method="get" class="ui form">
                @{
                    if (UserInfo.type != 3)
                    {
                        <div class="fields">
                            <div class="three wide field">
                                <a href="@Url.Action("Edit")" class="ui large blue label"><i class="plus icon"></i>添加新成员</a>
                            </div>
                        </div>
                    }
                }

                <div class="fields">
                    <div class="two wide field">
                        @Html.TextBox("name", "", new { @placeholder = "请输入用户名" })
                    </div>
                    <div class="two wide field">
                        <button class="ui button" type="submit">查询</button>
                    </div>
                    <div class="four wide field">
                        <button type="button" class="ui green button" onclick="top.location.href = '@Url.Action("Index")';">所有成员</button>
                    </div>
                </div>
            </form>
            <table class="ui celled table selectable">
                <thead>
                    <tr>
                        <th>成员名</th>
                        <th>QQ号</th>
                        <th>创建时间</th>
                        <th>角色</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in items)
                    {
                    <tr>
                        <td>
                            <a href="@(Url.Action("Edit",new { id=item.uid}))">@item.uname</a>
                        </td>
                        <td>
                            @item.QQnumber
                        </td>
                        <td>
                            @TypeConvert.LongToDateTime(item.created).ToString("yyyy-MM-dd HH:mm")
                        </td>
                        <td>
                            <span class="ui @(item.status==(int)Enums.StatusEnum.Normal?"olive":"delete") label"> @(item.status == (int)Enums.StatusEnum.Normal ? "正常" : "删除")</span>
                        </td>
                        <td>
                            @{
                                var eo = EnumUtils.GetDescriptionStyle((Enums.UserTypeEnum)item.user_type);
                            }
                            <span class="ui olivelabel">@Html.Raw(eo.Description)</span>
                        </td>
                        <td>
                            <a href="javascript:Del('@Url.Action("Delete")',@item.uid)" class="btn btn-white btn-sm"><i class="fa fa-trash"></i>删除</a>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">
                            @Html.Raw(Pager)
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    //ModelExt.alert("");
</script>
